<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2 class="headers" style="font-size: 3rem">{{opportunity.name}}</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="thin" style="font-size: 1.5rem; margin-bottom: 10px">{{opportunity.description}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="thin" style="font-size: 1.3rem; font-style: italic;  margin-bottom: 10px">Posted by: {{opportunity.User.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="bold" style="font-size: 1rem;  margin-bottom: 10px">Application Deadline: {{opportunity.deadline}}</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="font-size: 2rem; margin-top: 25px">
            <a class="btn btn-lg btn-light thin" href="/opportunities/{{opportunity.id}}/apply">Apply Now</a>
        </div>
    </div>
</div>